<p id="status" style="display:none;border-radius:5px; padding: 2px;position:fixed; bottom:0px; left:0px; color:white; background-color:blue;"></p>
<div class="d-flex flex-column justify-content-center justify-items-center">
    <div class="d-flex row row gap-3 justify-content-center">
        <div class="col col-md-8">
            <%= render 'layouts/map' %>
        </div>
        <div class="col col-md-2">
            <div>
                <ul class="list-group" style="height:80vh; overflow-y:auto; scrollbar-width: none; -ms-overflow-style: none;">
                    <% if @locations %>
                        <% @locations.each do |item| %>
                            <li class="list-group-item">
                                <% address = item['address'].split(' ')[0..2].join(' ') %>
                                <%= address %>
                            </li>
                        <%end%>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center m-2"> 
        <button id="follow-me" class="btn btn-primary" >START SHIFT</button>
    </div>
</div>
